include ./myhead
body 
    header 
        h1 My Blog 
        nav 
            if(user.email)
                p= user.email
                a(href="/logout") Logout | 
                a(href="/user/articles") My articles
            else 
                a(href="/login") Login
        section 
            .article 
                -let art=articles[selected]
                h3=art.title
                p !{art.content}
            hr
            ul 
                -let arts=articles.filter(e=>e.id!==art.id)
                each e in arts
                    li
                        -let link=`/articles/${e.id}`
                        h4 #{e.title}
                        span !{e.content.substr(0,100)+"...."}
                        a(href=link) read more